@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

:root {
  --dark-blue: hsl(209, 23%, 22%);
  --darker-blue: hsl(207, 26%, 17%);
  --darkest-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  
  --dark-mode-background: var(--darker-blue);
  --dark-mode-element: var(--dark-blue);
  --dark-mode-text: white;
}

.App {
  font-family: 'Nunito Sans', sans-serif;
}

.Header {
  background-color: var(--dark-mode-element);
  color: var(--dark-mode-text);
  padding: 32px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Header-title {
  margin: 0;
  font-size: 14px;
  font-weight: 800;
}

.Mode-CTA {
  background-color: transparent;
  border: none;
  color: var(--dark-mode-text);
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.Mode-CTA__icon {
  margin-right: 8px;
}

.Main {
  min-height: 100vh;
  background-color: var(--dark-mode-background);
  padding: 0 16px 0 16px;
}

.SearchLayout {
  display: grid;
  grid-template-rows: 50px 50px;

  row-gap: 40px;
  padding-top: 24px;
}

@media only screen and (min-width: 768px) {
  .SearchLayout {
    grid-template-columns: 1fr 200px;
    grid-template-rows: 50px;
  }
}

.Search {
  /* border: 1px solid red; */

  max-width: 480px;
  max-height: 17px;
  padding: 16px 16px 16px 32px;
  background-color: var(--dark-mode-element); 
  color: var(--dark-mode-text);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.Search:focus {
  outline: red;
}

.Search__input {
  /* border: 1px solid orange; */
  background-color: var(--dark-mode-element);
  color: var(--dark-mode-text);
  margin-left: 24px;
  width: 100%;
  border: none;
}

.Search__input::placeholder {
  color: var(--dark-mode-text); 
}

.Search__input:focus {
  outline: none;
}

.DropDown {
  width: 200px;
}

.DropDownButton {
  background-color: var(--dark-mode-element);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 16px 20px 16px 24px;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  color: var(--dark-mode-text);
}

.DropDownList {
  background-color: var(--dark-mode-element);
  border-radius: 5px;
  padding: 20px 24px;
  margin: 3px 0;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 12px;
  list-style: none;
  line-height: 32px;
}

.DropDownList a {
  text-decoration: none;
  color: var(--dark-mode-text);
  z-index: 9;
}
