@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.Header {
  background-color: var(--dark-mode-element);
  color: var(--dark-mode-text);
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main {
  min-height: 100vh;
  /* background-color: var(--dark-mode-background); */
  padding: 0 16px 40px 16px;
}

.SearchLayout {
  display: grid;
  grid-template-rows: 50px 50px;

  row-gap: 40px;
  padding: 30px 0 30px 0;
}

.Search {
  /* border: 1px solid red; */
  
  max-width: 480px;
  /* max-height: 17px; */
  padding: 16px 16px 16px 32px;
  background-color: var(--dark-mode-element); 
  color: var(--dark-mode-text);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.Search:focus {
  outline: red;
}

.Search__input {
  /* border: 1px solid orange; */
  background-color: var(--dark-mode-element);
  color: var(--dark-mode-text);
  margin-left: 24px;
  width: 100%;
  border: none;
}

.Search__input::placeholder {
  color: var(--dark-mode-text); 
}

.Search__input:focus {
  outline: none;
}

.DropDown {
  width: 200px;
  z-index: 9;
}

.CountryCard {
  border: 1px solid transparent;
  overflow: hidden;
  background-color: var(--dark-mode-element);
  max-width: 265px;
  border-radius: 5px;
}

.CardInfo {
  margin: 0 24px 0 24px;
}

.DetailCountryBorders {
  display: grid;
  gap: 24px;
}

.BordersButtonGroup {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px;
  text-align: center;
}

@media only screen and (min-width: 992px) {
  .Header {
    padding: 0 80px;
  }

  .Main {
    padding: 0 80px 40px 80px;
  }

  .SearchLayout {
    grid-template-columns: 1fr 200px;
    grid-template-rows: 55px;
  }

  .Search__icon {
    width: 22px;
  }

  .Search__input {
    font-size: 14px;
  }

  .DetailCountryLayout {
    padding: 80px;
  }

  .DetailCountryBorders {
    grid-template-columns: 130px 1fr;
    gap: 16px;
    grid-column: 1 / 3;
  }
}
