@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;800&display=swap');

.Header {
  background-color: var(--dark-mode-element);
  color: var(--dark-mode-text);
  padding: 0 16px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Main {
  min-height: 100vh;
  /* background-color: var(--dark-mode-background); */
  padding: 0 16px 40px 16px;
}

.Search {  
  max-width: 480px;
  /* max-height: 17px; */
  padding: 16px 16px 16px 32px;
  background-color: var(--dark-mode-element); 
  color: var(--dark-mode-text);
  display: flex;
  align-items: center;
  border-radius: 5px;
}

.Search:focus {
  outline: red;
}

.Search__input {
  background-color: var(--dark-mode-element);
  color: var(--dark-mode-text);
  margin-left: 24px;
  width: 100%;
  border: none;
}

.Search__input::placeholder {
  color: var(--dark-mode-text); 
}

.Search__input:focus {
  outline: none;
}

.DropDown {
  width: 200px;
  z-index: 9;
}

.DetailCountryBorders {
  display: grid;
  gap: 24px;
}

@media only screen and (min-width: 992px) {
  .Header {
    padding: 0 80px;
  }

  .Main {
    padding: 0 80px 40px 80px;
  }

  .Search__icon {
    width: 22px;
  }

  .Search__input {
    font-size: 14px;
  }

  .DetailCountryBorders {
    grid-template-columns: 130px 1fr;
    gap: 16px;
    grid-column: 1 / 3;
  }
}
